$primary: #111D13;
$accent: #A1CCA5;
$transition: color .3s ease-in-out;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.col {
  padding: 10px;
}
.btn {
  position: relative;
  overflow: hidden;
  background-color: $accent;
  color: $primary;
  border: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  @include transition(color .3s ease-in-out);
  &.btn-circle {
    border-radius: 100%;
  }
  &.btn-square {
    border-radius: 10%;
  }
  span {
    position: relative;
    z-index: 1;
  }
  .wave {
    background-color: $primary;
    position: absolute;
    z-index: 0;
    top: 110%;
    height: 200%;
    width: 200%;
    border-radius: 40%;
    left: -50%;
    transform: rotate(360deg);
    transition: all 1s ease;
    animation: wave 30s linear infinite;
  }
  &:hover {
    color: #fff;
  }
  &:hover .wave {
    top: -10%;
  }
}

@keyframes wave {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(3600deg); 
  }
}

